!/UnityProject~/
!/UnityProject~/Assets/
!/UnityProject~/Assets/**
!/UnityProject~/Packages/
!/UnityProject~/Packages/**
!/UnityProject~/ProjectSettings/
!/UnityProject~/ProjectSettings/**

/Assets/
/Library/
/Logs/
/Obj/
/Packages/
/ProjectSettings/
/Temp/
/UserSettings/

/UnityProject~/Library/
/UnityProject~/Logs/
/UnityProject~/Obj/
/UnityProject~/Temp/
/UnityProject~/UserSettings/

*.csproj
*.sln
*.slnx
*.user
